{% extends 'base.html' %} 
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-black"> {% block title %} {{ object.title }} {% endblock title %}</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
        {% endif %}
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>


{% endblock content %}