{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-1.5">
        <h5 class="card-header">About</h5>
        <div class="card-body">
            <p class="card-text">
                Mon application de blog est créée en utilisant le framework web Django pour le côté backend, et est
                conçue avec un thème bootswatch pour l'interface utilisateur. Vous pouvez également visiter ma chaîne
                YouTube à l'adresse suivante ... </p>
            <a href="https://www.youtube.com/@faizdev/videos" class="btn btn-danger">Ma chaîne</a>
            <a href="https://docs.djangoproject.com/fr/3.0/" class="btn btn-secondary">Documentation Django</a>
        </div>
    </div>
</div>

{% endblock sidebar %}